/* --------------------------------------------------------------------------------
PopUp
-------------------------------------------------------------------------------- */

.modal {
    background-color: white;
  }
  
  .modal_content {
    background-color: white;
    position: absolute;
  }