.metronome.true {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    background-color: #ffffff;
    animation-name: click2;
    animation-duration: 0.5s;
}

.metronome.false {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    background-color: #ffffff;
    animation-name: click;
    animation-duration: 0.5s;
}

.metronomeInside {
    margin-top: 20px;
}

.startBtn {
    margin-top: 30px;
    text-align: center;
}
  
.tapBtn {
    margin-top: 5px;
    margin-bottom: 30px;
    text-align: center;
}

#beatSelectLabel {
    margin-top: 10px;
}

#demo-simple-select {
    margin-top: 10px;
}

@keyframes click {
    from {background-color: #2296F3;}
    to {background-color: #ffffff;}
  }

  @keyframes click2 {
    from {background-color: #2296F3;}
    to {background-color: #ffffff;}
  }